@-webkit-keyframes typeOut {
    from {
        width: 0;
    }
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Droid Serif', serif;
}
body {
    background-color: lavender;
}
.wrapper {
    width: 100%;
    margin: auto;
    height: auto;
    background-color: purple;
}
.Edge {
    width: 95%;
    height: auto;
    margin: auto;
    background-color: oldlace;
    border-left: 1px double oldlace;
    border-right: 1px double oldlace;
    flex-direction: column;
    z-index: 1;
}
header {
    width: 100%;
    border-bottom: 2px double purple;
    background-color: oldlace;
    height: 120px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.center {
    margin: auto;
}
h1 {
    font-size: 200%;
    color: purple;
    text-shadow: 1px 1px 1px white, 1px 1px 1px black, 1px 1px 1px white, 1px 1px 1px purple;
    font-style: italic;
    margin: auto;
    letter-spacing: 1px;
    word-spacing: 2px;
}
h1::first-letter, span {
    font-size: 175%;
    color: purple;
    letter-spacing: 1px;
}
hr {
    border: 1px double purple;
    margin-bottom: 2px;
}
nav {
    width: 100%;
    height: 35%;
    margin: auto;
    display: flex;
    padding-top: 5px;
    text-align: center;
    border-top: 1px double white;
    border-bottom: 1px double white;
    justify-content: space-around;
    font-weight: 600;
    background-color: rgba(156, 39, 176, 0.2);
}
a {
    text-decoration: none;
    font-size: 125%;
    color: rebbeccapurple;
    text-shadow: 1px 1px 1px white, 1px 1px 1px purple, 2px 2px 2px white, 2px 2px 2px purple;
    letter-spacing: 1px;
    border-bottom: 5px double transparent;
}
a:visited {
    color: black;
}
a:hover, a:active {
    text-shadow: 2px 2px 2px white;
    color: purple;
    border-bottom: 5px double purple;
    transition: border-bottom2s;
    -webkit-transition: border-bottom 2s;
}
.Active {
    text-shadow: 2px 2px 2px white;
    color: purple;
    border-bottom: 3px double purple;
}
section {
    padding-top: 120px;
    padding-left: 2%;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}
section:nth-child(even) {
    width: 98%;
    height: 75%;
}
.Modal {
    background-color: rgba(156, 39, 176, 0.2);
    z-index: 1;
    position: absolute;
    width: 95%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
#HomeSection {
    background-image: url("../img/Lily.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
    color: darkmagenta;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    height: 100%;
    font-size: 175%;
    text-shadow: 1px 1px 1px black, 1px 1px 1px white, 1px 1px 1px purple;
}
.containAction {
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border: 1px double purple;
    box-shadow: 1px 2px 3px silver;
}
h2 {
    font-size: 5vw;
    margin-bottom: 5px;
    width: 16.5em;
    width: 21ch;
    text-indent: 5px;
    white-space: nowrap;
    font-style: italic;
    overflow: hidden;
    -webkit-animation: typeOut 2s steps(25, end);
    -moz-animation: typeOut 2s steps(25, end);
}
h2::first-letter {
    font-size: 6vw;
    color: purple;
    letter-spacing: 2px;
    word-spacing: 2px;
}
#Avatar {
    height: 25vw;
    width: 20vw;
    overflow: hidden;
    float: left;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
#Avatar img {
    height: 100%;
    width: 100%;
    margin-top: 2%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px double lavender;
    outline: 1px 1px 1px black;
    box-shadow: 1px 1px 1px lavender, 1px 1px 1px white, 1px 1px 1px purple, 1px 1px 1px black, 1px 1px 1px purple;
    background-size: cover;
    background-position: center;
}
#AboutSection {
    height: 400px;
}
#AboutSection p {
    word-wrap: break-word;
    padding-top: 15px;
    color: purple;
    font-style: italic;
    font-size: 1.4vw;
    line-height: 2em;
    letter-spacing: 1px;
}
#AboutSection p::first-letter {
    font-size: 3vw;
    padding-top: 15px;
    color: purple;
    letter-spacing: 1px;
}
.arrows {
    color: purple;
}
.prev {
    position: absolute;
    left: 0;
}
.next {
    position: absolute;
    right: 0;
}
#SliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}
#Slider {
    height: 100%;
    width: 90%;
    margin: auto;
    z-index: 1;
    border-radius: 1em;
    margin-top: 25px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    position: relative;
    background-size: contain;
}
.Slide {
    opacity: 0;
    height: auto;
    width: auto;
    background-color: white;
    border: 2px double purple;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    position: absolute;
}
.big {
    width: 80%;
    height: 100%;
}
.other {
    width: 80%;
    height: 80%;
}
.Slide:target {
    z-index: 100;
    opacity: 1;
}
#WorkSection {
    height: 600px;
}
#ContactSection {
    height: auto;
}
#ContactSection p {
    word-wrap: break-word;
    padding-top: 15px;
    color: purple;
    font-style: italic;
    font-size: 1.4vw;
    line-height: 1.5em;
    letter-spacing: 1px;
}
#ContactSection p::first-letter {
    font-size: 3vw;
    padding-top: 15px;
    color: purple;
    letter-spacing: 1px;
}
fieldset {
    border: 2px double purple;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    width: 90%;
    color: purple;
}
form {
    margin-top: 25px;
}
input {
    width: 100%;
}
input[type="text"]:focus, textarea:focus, input[type="text"]:hover, textarea:hover {
    outline: none;
    border: none;
    border: 2px inset purple;
    background-color: lavender;
}
input[type="text"]:hover, textarea:hover {
    background-color: oldlace;
}
input, textarea {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    border: 2px inset oldlace;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 5px;
    text-indent: 15px;
    height: 50px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    background-color: lavender;
    font-size: 100%;
    display: flex;
    align-self: center;
    color: purple;
}
textarea {
    padding-top: 15px;
}
#submit {
    display: block;
    margin-bottom: 20px;
    width: auto;
    border: 2px inset oldlace;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-indent: 5px;
    height: 50px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    background-color: purple;
    font-size: 1.2em;
    display: flex;
    align-self: center;
    letter-spacing: 1px;
    font-weight: 600;
    color: lavender;
}
#submit:hover {
    background-color: lavender;
    color: purple;
    text-shadow: 1px 1px 1px oldlace;
    border: 2px inset purple;
}
footer {
    background-color: rgba(156, 39, 176, 0.2);
    border-top: 2px double purple;
    width: 100%;
    height: 8%;
    font-size: 100%;
    display: flex;
    margin: auto;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-weight: 600;
    color: purple;
    font-style: italic;
    z-index: 1;
}
