$width: 100%;
$height: 100%;

$headerBackground: rgba(45, 153, 113, 0.93);
$headerBorder: aliceblue;

  $headingMainColor: rgb(224, 180, 225);
  $headingSecondaryColor: rgb(167, 250, 209);

  $headingTextShadowColor1: forestgreen;
  $headingTextShadowColor2: rgb(0,0,0);
  $headingTextShadowColor3: rgb(255,255,255);

$LinkColor: aliceblue;
$LinkHoverColor: #083358;
$LinkHoverBackgroundColor: rgba(20, 179, 224, 0.9);
$LinkHoverBorderColor: #229422;
$HorizontalLineColor: #39b93f;

$PrimarySectionBackgroundColor: lightblue;
$SecondarySectionBackgroundColor: transparent;
$SectionBottomBorderColor: aliceblue;

  $TypingFontColor: aliceblue;

  $ParagraphColor: purple;

  $TileBorderColor: aliceblue;
  $TileBorderHoverColor: teal;

$radius: 1em;

$family: 'Roboto', sans-serif;
$hfamily: 'Playball', cursive;
$size: 1.5em;
$color: black;
$weight: 600;

$left: 10px;
$bottom: 10px;
$right: 10px;
$top: 10px;

$navh: 100px;
$sectionh: 800px;

$bcolor: black;
$bwidth: 90%;
$bstyle: double;

$body-bg: transparent;
